<%= form_with(model: @customer, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "input" %>
  </div>
  <%= f.submit nil, class: "ui blue button" %>
<% end %>
